server:
  port: 8085
  servlet:
    context-path: /api/account
management:
  server:
    port: 8185
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: postgres
    password: secretpassword
  liquibase:
    enabled: true
    change-log: db.changelog/db.changelog-master.yaml
    default-schema: account
    drop-first: false
  application:
    name: account-app
  jpa:
    hibernate:
      ddl-auto: update
  cloud:
    loadbalancer:
      enabled: false

logging:
  level:
    org.springframework.web: ERROR
    com.bank: info
#Ограничить запись в файл и вывод на экран из root до log.error
#    root: error
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: account/src/main/resources/logAccount.log
#    path: account/src/main/resources/

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka